DATABASE_URL="mongodb://host.docker.internal:27017/jwt?replicaSet=rs0&ssl=false"

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
AUTH_SECRET="64030d57a5c1cc75c5bc2fad994b7696"
AUTH_TRUST_HOST=http://localhost:3000